/* navigation bar  */
nav{
    display: flex;
}
/* Forms */

body {
    padding: 10px 50px;
    background-color: aqua;
}

.formdesign {
    font-size: 20px;
    padding-left: 20px;

}

.formdesign input {
    width: 30%;
    padding: 12px 20px;
    border: 1px solid rgb(6, 24, 3);
    margin: 14px;
    border-radius: 6px;
    font-size: 15px;
    padding-left: 20px;
}

.formerror {
    color: red;
}
img{
    margin-left: 120px;
    margin-bottom: 40px;
}

.button {
    border-radius: 9px;
    border: solid red 2px;
    background-color: rgb(8, 187, 62);
    color: white;
    width: 200px;
    height: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 30px;
    margin: 22px 20px;
}
/* Forms */
h2{
    text-align: left;
}

table {
    border-color: rgb(161, 231, 81);
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border: 2px solid #0d0d0e;
  }
  
  th {
    background-color: #caf16f;
  }
  
  tr:hover {
    background-color: #acaebd;
  }
  #form h1{
    color: #fefffd;
    background-color: rgb(92, 92, 133);
  }